/*
	姓名： 陈涛
	学号： 16340031
	组别： 23组
	内容： 按照要求完成
*/

/*#at-plus-container div {
	border: 1px solid blue;
}*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#at-plus-container {
	position: relative;
	height: 100%;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}

#bottom-positioner {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

#button {
	padding-left: 40px;
	width: 20px;
	height: 50px;
	margin-left: 60px;
	margin-top: 10px;
	margin-bottom: 148px;
}

#button .apb {
	border-radius: 50%;
	transition: all 0.5s;
	position: absolute;
	width: 26px;
	height: 26px;
	left: 75px;
	bottom: 100px;	
	background-image: url("assets/images/atplus_white.png");
	background-color: #989FCF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 16px;
}

#button:hover .apb {
	background-image: url("assets/images/atplus_green.png");
	background-size: 25px 23px;
	background-color: #383F9F;
	left: 70px;
	width: 40px;
	height: 40px;
	/*transform: scale(1);*/
}

#info-bar {
	position: absolute;
	bottom: 150px;	
	left: 25px;
	width: 120px;
	height: 120px;
}

#info-bar li span {
	margin-left: 8px;
} 

#info-bar li.user {
	padding-left: 27px;
}

#info-bar li.mine {
	display: inline-block;
	width: 50%;
	color: #26E79E;

}

#info-bar li.comment {
	padding-left:27px;
	font-size: 30px;
	color: white;
}

#info-bar ul {
	padding-left: 13px;
}

#info-bar li.user {
	color: white;
}

#info-bar .info {
	position: absolute;
	opacity: 0;
	margin-top: 90px;
	transform: scale(0.1);
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #7E7E7E;
	transition: all 0.5s;
}

#info-bar .info li {
	list-style: none;
}

#button:hover #info-bar .info {
	margin-top: -10px;
	opacity: 1;
	transform: scale(1);
}

#control-ring-container {
	position: absolute;
	border-radius: 50%;
	width: 155px;
	height: 155px;
	left: 12px;
	bottom: 45px;
}

#control-ring-container li {
	list-style: none;
	position: absolute;
	margin-top: 61px;
	margin-left: 23px;
	width: 30px;
	height: 30px;
	background: #586868 center no-repeat;
	border-radius: 50%;
	background-size: 20px 20px;
	transition: all 0.5s;
	opacity: 0;
}

#control-ring li span {
	opacity: 0;
}

#button:hover #control-ring li span {
	position: absolute;
	color: white;
	left: 23px;
	font-size: 10px;
	background-color: red;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	text-align: center;
	opacity: 1;
}

#button:hover #control-ring li:nth-child(1) {
	margin-top: 20px;
	margin-left: -34px;
	background-image: url("assets/images/nomask.png");
	opacity: 1;
}

#button:hover #control-ring li:nth-child(2) {
	margin-top: 56px;
	margin-left: -40px;
	background-image: url("assets/images/history.png");
	opacity: 1;
}

#button:hover #control-ring li:nth-child(3) {
	margin-top: 88px;
	margin-left: -25px;
	background-image: url("assets/images/message.png");
	opacity: 1;
}

#button:hover #control-ring li:nth-child(4) {
	margin-top: 107px;
	margin-left: 8px;
	background-image: url("assets/images/setting.png");
	opacity: 1;
}

#button:hover #control-ring li:nth-child(5) {
	margin-top: 105px;
	margin-left: 45px;
	background-image: url("assets/images/signin.png");
	opacity: 1;
}